*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}

.wrapper{
    min-height: 100%;
    display: grid;
    grid-template: minmax(100px, auto) minmax(48em,auto) minmax(100px, auto) / 1fr;
}

.ppp a{
    color: #f9fffe;
    text-decoration: none;
}
header{
    grid-row-start: 1;
    grid-row-end: 2;
    background: #222222;
    display: grid;
    grid-template-columns: 2fr 5fr 2fr;
    grid-template-rows: auto;
    grid-column-gap: 20px;
    justify-items: center;
    align-items: center;
    grid-template-areas: 
    "logo nav person";
}

.logo{
    /*Возможно марджин убрать можно*/
    margin-left: 15px;
    grid-area: logo;
    justify-self: center;
}
.Home{
    display: grid;
    justify-self: center;
    grid-auto-flow: column;
}
.ppp{
    margin-right: 24px;
    font-size: medium;
}
.ppp:last-child{
    margin-right: 0px;
}

.ppp span {
    font-size: 22px;
    text-decoration-line: underline;
}

.person{
    grid-area: person;
}

.person :hover{
    border: 3px solid #fc5a5a;  
}

.person a{
    text-decoration: none;
}

.person .registr {
    color: #ffffff;
    padding: 7px;
}

/* Контент */

section{
    grid-row-start:2;
    grid-row-end:3;
    background-color: #ccdef0;
    display: grid;
}

.blocks{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


@media (max-width: 700px)
{
    .blocks{
        max-width: 80%;
        flex-direction: column;
    }
}

.product-item {
    max-width: 300px;
    text-align: center;
    margin: 20px auto;
    border-bottom: 2px solid #F5F5F5;
    background: white;
    font-family: "Open Sans";
    transition: .3s ease-in;
}
  .product-item:hover {border-bottom: 2px solid #fc5a5a;}
  .product-item img {
    display: block;
    width: 100%;
  }
  .product-list {
    background: #fafafa;
    padding: 15px 0;
  }
  .product-list h3 {
    font-size: 18px;
    font-weight: 400;
    color: #444444;
    margin: 0 0 10px 0;
  }
  .price {
    font-size: 16px;
    color: #fc5a5a;
    display: block;
    margin-bottom: 12px;
  }
  .button {
    text-decoration: none;
    display: inline-block;
    padding: 0 12px;
    background: #cccccc;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 28px;
    transition: .3s ease-in;
  }
  .product-item:hover .button {background: #fc5a5a;}

/* Прежняя версия блока */

/* .block{
    background-image: url(https://beko.ru/uploads/products/big/1542102506.7634068335_DIS26021_MDM_LOW_1.png);
    background-position-x: center;
    background-position-y: -23px;
    background-size: 15vmax;
    background-repeat: no-repeat;
    border-radius: 20px;
    margin-top: 20px;
    margin-right: 15px;
    margin-left: 15px;
    width: 20%;
    height: 250px;
    border:1px solid #222;
}
.block a{
    font-size: small;
    display: grid;
    text-align: center;
    grid-template-rows: minmax(15vmax,15vmax);
    grid-template-areas: 
    "."
    "description"
    "price";
    text-decoration: none;
    color: #222;
}

.block:last-child {
    margin-bottom: 20px;
}

.block .price{
    grid-area: price;
}

.block .description{
    grid-area: description;
} */

/* футер */
footer{
    grid-row-start: 3;
    grid-row-end: 4;
    height: 100%;
    color: #f9fffe;
    background-color: #222222;
    display: grid;
    grid-template-columns: repeat(3,32.33333%); 
    /* 32.33333% 33.33333% 33.33333% */
    grid-template-rows: minmax(55px,auto) minmax(10px, auto) minmax(20px,auto);
    align-items: center;
    justify-items: center;
    text-align: center;
    grid-template-areas: 
    "one two call"
    "adres icons phone"
    ". copirate ."; 
}

.adres, .about2{
    font-size: 13px;
    overflow: hidden; 
    text-overflow: ellipsis;
}

.Location{
    grid-area: one;
}

.about{
    grid-area: two;
}

.header-contacts__link__11{
    grid-area: phone;
    margin-bottom: 4px;
}

.adres{
    grid-area: adres;
}

.icons img{
    height: 20px;
    margin-right: 15px;
    grid-area: icons;
}

.icons a {
    text-decoration: none;
}

.header-contacts__link__22{
    grid-area: call;
    font-size: 20px;
    color: #f9fffe;
    text-decoration-color: #7abeb3;
    display: inline-block;
}

.copirate{
    margin-top: 5px;
    grid-area: copirate;
    color: #f9fcff62;
    font-size: 10px;
}
